
body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: #f0f0f0;
}
header {
    background-color: rgb(228, 139, 24);
    color: blanchedalmond;
}

form {
    padding: 30px;
    border: 2px solid rgb(228, 139, 24);
    border-radius: 12px;
    max-width: 620px;
    margin: auto;
    background-color: white;
    box-shadow: 0 0 0 2px rgb(228, 139, 24);
}